.form {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 400px;
    padding: 8px 16px;
    outline: 1px solid black;
    border-radius: 4px;

}

.label {
    display: flex;
    flex-direction: column;
    gap: 12px;   
}

.button {
    display: inline-flex;
    padding: 4px 12px;
    width: 100px;
}